<div id="head" class="conteiner">
    <div class="button">
        <div class="wrapper_flex">
            <div class="icon">
                <i class="fa fa-calendar"></i>
            </div>
            <div class="text">
                <div id="time">
                    <div id="month"></div>
                    <div id="date"></div>
                    <div id="day"></div>
                    <div id="time_now"></div>
                </div>
            </div>
            <div class="list">
                <i class="fa fa-chevron-right"></i>
            </div>
        </div>
    </div>



    <script src="/bugaltery/js/time.js"></script>
    <div class="button">
        <div class="wrapper_flex">
            <div class="icon">
                <i class="fa fa-money"></i>
            </div>
            <div class="text">
                Валюты
            </div>
            <div class="list">
                <i class="fa fa-chevron-right"></i>
            </div>
        </div>
    </div>
    <div class="button">
        <div class="wrapper_flex">
            <div class="icon">
                <i class="fa fa-fort-awesome"></i>
            </div>
            <div class="text">
                Склад
            </div>
            <div class="list">
                <i class="fa fa-chevron-right"></i>
            </div>
        </div>
    </div>
    <div class="button">
        <div class="wrapper_flex">
            <div class="icon">
                <i class="fa fa-users"></i>
            </div>
            <div class="text">
                Контрагенты
            </div>
            <div class="list">
                <i class="fa fa-chevron-right"></i>
            </div>
        </div>
    </div>
    <div class="button">
        <div class="wrapper_flex">
            <div class="icon">
                <i class="fa fa-pie-chart"></i>
            </div>
            <div class="text">
                Отчёты
            </div>
            <div class="list">
                <i class="fa fa-chevron-right"></i>
            </div>
        </div>
    </div>
<div class="button">
        <div class="wrapper_flex">
            <div class="icon">
                <i class="fa fa-font-awesome"></i>
            </div>
            <div class="text">
                Номенклатура
            </div>
            <div class="list">
                <i class="fa fa-chevron-right"></i>
            </div>
        </div>
    </div>
</div>