<div id="middle">
    <div class="conteiner">
        <div>
            <i class="fa fa-camera-retro"></i><br />
            <i class="fa fa-refresh fa-spin"></i><br />
            <i class="fa fa-cog fa-spin"></i><br />
            <i class="fa fa-trash-o"></i>
            <i class="fa fa-circle-o"></i><br /><br />
            <div class="button">
                <div class="wrapper_flex">
                    <div class="icon">
                        <i class="fa fa-user-circle"></i>
                    </div>
                    <div class="text">
                        User Юзер dfgdhjd
                    </div>
                </div>
            </div>
            <br /><br />
            <div class="button">
                <div class="wrapper_flex">
                    <div class="list_conteiner">

                        <div class="button">
                            <div class="wrapper_flex">
                                <div class="text">
                                    List Text
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="icon">
                        <i class="fa fa-user-circle"></i>
                    </div>
                    <div class="text">
                        List
                    </div>
                    <div class="list">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </div>
            </div>
            <br /><br />
            <div class="button">
                <div class="wrapper_flex">
                    <div class="text">
                        List Text
                    </div>
                </div>
            </div>
            <br /><br />
            <br />
            <br />
        </div>
    </div>

    <div class="conteiner">
        <div>1236<div>1236<div>12367890</div>7890</div>7890</div>
    </div>
</div>