<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/js/moment.js"></script>
    <script src="/js/moment_ru.js"></script>
    <script src="/js/jquery.js"></script>
    <!--
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/locale/ru.js"></script>
    -->
    <link rel="stylesheet" href="/fontawesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:500" rel="stylesheet">
    <title><%= title%></title>
</head>
<body id="window">
    <% include ./head %>
    <% include ./middle %>
    <% include ./footer %>
</body>
</html>